.app{
    height: 100vh;
    padding: 12px;
    background: #f4f6f9;
    
}
.pad{
    padding: 3px;
}
.left-wrapper{
    height: 100%;
    margin-right: 12px;
    background: #fff;
}
.search {
    height: 40px;
}
.file-list{
    height: calc(100% - 90px);
    overflow-y: auto;
}
.file{
    height: 38px;
    display: flex;
    padding: 0 12px;
    list-style: none;
    color: #666;
}
.file-title{
    padding-left: 6px;
    cursor: pointer;
}
.file-detail{
    height: 100%;
    width: 70%;
    flex-grow: 0;
    display: flex;
    align-items: center;
}
.file-operate-btns{
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.file-btns{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.right-wrapper{
    height: 100%;
    background: #fff;
}
.edit-area{
    height: calc(100% - 40px);
}